.products-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
    margin-bottom: 50px;
}

.search {
    padding-left: 10px;
    input {
        height: 40px;
        width: 350px;
        font-size: 16px;
    }
}

.zero-products-message {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}