<app-header></app-header>
<div class="register-container">
    <h3>Cadastro de Estudantes</h3>
    <form #studentForm="ngForm" class="register-form" (submit)="onSubmit(studentForm)">
        <div class="form-field">
            <label class="label-input">Nome do Estudante:</label>
            <input [(ngModel)]="student.name" type="text" placeholder="Digite o nome" name="name" required>
        </div>
        <div class="form-field">
            <label class="label-input">Email:</label>
            <input [(ngModel)]="student.email" type="email" placeholder="Digite o Email"
            name="email" required>
        </div>
        <div class="form-field">
            <label class="label-input">Senha do estudante:</label>
            <input [(ngModel)]="student.password" type="password" placeholder="Digite a senha"
            name="password" required>
        </div>
        <div class="form-field">
            <label class="label-input">Valor da mensalidade:</label>
            <input [(ngModel)]="student.monthlyPayment" type="number" placeholder="Digite o valor da mensalidade"
            name="monthlyPayment" required>
        </div>
        <div class="form-field">
            <label class="label-input">Data de inclusão:</label>
            <input [(ngModel)]="student.inclusionDate" type="text"
            name="inclusionDate" disabled>
        </div>
        <div class="form-field">
            <label class="label-input">Último pagamento mensal:</label>
            <input [(ngModel)]="student.lastMontlyPayment" type="text"
            name="lastMontlyPayment" disabled>
        </div>
        <div class="form-field">
            <label class="label-input">Curso</label>
            <select [(ngModel)]="student.course" name="course" required>
                <option value="Angular MJV">Angular MJV</option>
                <option value="Java MJV">Java MJV</option>
                <option value="Node MJV">Node MJV</option>
                <option value="FullStack MJV">FullStack MJV</option>
            </select>
        </div>
        <div class="action-form">
            <button
            class="cadastrarProduto"
            type="submit"
            [disabled]="studentForm.invalid">Salvar</button>
        </div>
    </form>
</div>
<app-footer></app-footer>