<div class="card" *ngIf="student && card">
    <h1>{{ student.name }}</h1>
    <p>Email: {{ student.email }}</p>
    <p>Mensalidade: {{ student.monthlyPayment | currency: 'BRL' }}</p>
    <p>Data entrada: {{ student.inclusionDate | date }}</p>
    <div class="actions">
        <a [routerLink]="['/student-details', student.id]">Detalhes</a>
        <div class="vertical-divisor"></div>
        <a class="remove" (click)="remove(student.id)">Excluir</a>
    </div>
</div>

<div class="details" *ngIf="student && !card">
    <h1>Detalhes do aluno: <b>{{ student.name }}</b></h1>
    <p>Email: {{ student.email }}</p>
    <p>Mensalidade: {{ student.monthlyPayment | currency: 'BRL' }}</p>
    <p>Data entrada: {{ student.inclusionDate | date }}</p>
    <p>Data do último pagamento: {{ student.lastMontlhyPayment| date }}</p>
    <p>Matrícula válida? <b>{{ student.validRegistration ? 'Sim' : 'Não' }}</b></p>
    <p>Curso atual: <b>{{ student.course }}</b></p>
</div>
